.header{
    width: 100%;
    height: 111px;
    background-image: url(bg-header.bmp);
    position: fixed;
    border-radius: 0 0 5px 5px;
    user-select: none;
}
.buttons{
    width: 70%;
    height: 100%;
    display: inline-flex;
    margin: 70px 15%;
    color: aliceblue;
}
.button{
    width: 180px;
    margin: 0px 5px 0 5px;
    font-size: 18px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px #b43a2d;
}
.button:hover{
    box-shadow: 0px 0px 5px 3px #d55232;
}
.button:active{
    box-shadow:0px 0px 5px 3px #b42729;
}
#icon{
    margin: 0 20px 0 0;
    cursor: pointer;
}