.formNameNewBook{
    position: fixed;
    width: 300px;
    height: 160px;
    background: rgb(160, 148, 149);
    border-radius: 5px;
    margin: 120px calc(50% - 150px);
    font-size: 21px;
    padding: 10px;
    color: white;
    box-shadow: 3px 3px 3px 4px black;
}
#newNameBook{
    width: 100%;
    font-size: 18px;
    margin-top: 30px;
}
#buttons{
    margin: 35px auto;
    width: 80%;
}
#top-line-creat-book-name{
    width: 100%;
    height: 25px;
    border-bottom: 1px solid black;
    color: black;
    font-size: 21px;
    font-family: cursive;
    cursor: context-menu;
}
.buttons-creat-new-book{
    width: 100px;
    height: 25px;
    cursor: pointer;
    text-align: center;
    box-shadow: 1px 1px 2px 1px rgb(2, 2, 2);
    display: inline-block;
    margin: 0 10px 0 10px;
    border-radius: 3px; 
}
.buttons-creat-new-book:hover{
    box-shadow: 0px 0px 0px 1px rgb(2, 2, 2);
}
.buttons-creat-new-book:active{
    box-shadow: inset 0px 0px 5px 1px rgb(2, 2, 2);
}
.NewBook{
    width: 95%;
    height: auto;
    border: 1px solid black;
    margin: 0 auto;
    background: floralwhite;
}
#nameBook{
    text-align: center;
    margin: 5px auto;
    font-size: 30px;
}
#newBookButtons{
    width: 615px;
    height: auto;
    display: flex;
    margin: 0 auto;
}
.newBookButton{
    width: 200px;
    cursor: pointer;
    text-align: center;
    font-size: 21px;
    margin: 5px;
    box-shadow: 1px 1px 2px 1px rgb(2, 2, 2);
}
.newBookButton:hover{
    box-shadow: 0px 0px 1px 0px rgb(2, 2, 2);
}
.newBookButton:active{
    box-shadow: inset 0px 0px 5px 1px rgb(2, 2, 2);
}